In [1]:
import pandas as pd
import numpy as np

In [8]:
temperature = pd.read_csv(r'Lecture Data\temperature_DK.csv')
cases = pd.read_csv(r'Lecture Data\Municipality_cases_time_series_formatted.csv')
tested = pd.read_csv(r'Lecture Data\Municipality_tested_persons_time_series_formatted.csv')

In [9]:
tested

                   Date          Kommune  Tested
0      02/02/2020 00.00       Copenhagen       0
1      02/02/2020 00.00    Frederiksberg       0
2      02/02/2020 00.00           Dragør       0
3      02/02/2020 00.00           Tårnby       0
4      02/02/2020 00.00      Albertslund       0
...                 ...              ...     ...
53895  09/08/2021 00.00           Rebild       0
53896  09/08/2021 00.00          Thisted       1
53897  09/08/2021 00.00  Vesthimmerlands       0
53898  09/08/2021 00.00          Aalborg       1
53899  09/08/2021 00.00              NaN       0

[53900 rows x 3 columns]